<div class="container">
  <div class="image-wrapper">
    <p-image
      src="assets/Rectangle 1image.jpg"
      alt="Image"
      width="100%"
      height="100%"
    ></p-image>
    <div class="heading">
      <h1>Election Personal Survey</h1>

      <div class="image">
        <p-image
          src="assets/Ellipse 1.png"
          alt="Image"
          width="auto"
          height="auto"
        ></p-image>
        <p-image
          src="assets/companylogo-image.png"
          alt="Image"
          width="auto"
          height="auto"
          style="margin-left: 350%"
        ></p-image>
      </div>
    </div>
  </div>

  <div class="main">
    <p>
      Landing page: Add some description about election personal survey.</p>
      
      <p>
          
        E.g.
        how is it going to be useful/helpful. What all are the impacts. How is it
        making the process smooth and so on and so forth.
      </p>
    
  </div>

  <div class="log">
    
    <p-card  [style]="{width: '300px',height:'455px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img style="width: 20%; height: 15%;" alt="Card" src="assets/form-logo.jpg">

          <h5>Sign-in via</h5>
         
      </ng-template>
      <ng-template pTemplate="body">
        <a href="https://accounts.google.com">
          <img Class="img-1" alt="Card" src="assets/google.png">
        </a>
        <img Class="img-1" alt="Card" src="assets/linkedin.png">
        <img Class="img-1" alt="Card" src="assets/twitter.png">
        <img Class="img-1" alt="Card" src="assets/facebook.png">

      </ng-template>
      
      
      <ng-template pTemplate="footer">
         
      </ng-template>
  </p-card>
  </div>
</div>
